In [167]:
# importando biblioteca
import pandas as pd

# realizando a leitura do arquivo
df = pd.read_csv(r'./datasets/gapminder.csv',  sep=';')

In [168]:
# leitura das primeiras 5 linhas do dataset
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [169]:
# retorna as ultimas 5 linhas do dataset
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
3307  Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [170]:
# renomeando colunas e atualizando dataset
df.rename(columns={'country': 'pais', 
                    'continent' : 'continente', 
                    'year' : 'ano', 
                    'lifeExp' : 'exp_vida',
                    'pop'  : 'populacao',
                    'gdpPercap': 'pib'}, inplace=True)

In [171]:
#exibir os tipos de dados do dataset
df.dtypes

pais           object
continente     object
ano             int64
exp_vida      float64
populacao       int64
pib           float64
dtype: object

In [172]:
# total de linhas e colunas no conjunto de dados
df.shape

(3312, 6)

In [173]:
# retornando apenas os nomes das colunas
df.columns

Index(['pais', 'continente', 'ano', 'exp_vida', 'populacao', 'pib'], dtype='object')

In [174]:
# informações estatisticas do dataset
df.describe()

               ano     exp_vida     populacao            pib
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165877
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [245]:
# Retorna apenas os valores unicos dos continentes
df.continente.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [246]:
# retorna a quantidade de paises por cada continente
df.groupby('continente')['pais'].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: pais, dtype: int64

In [247]:
oceania0 = df.continente.isin(['Oceania'])
oceania1 = df.continente == 'Oceania'
oceania2 = df['continente'] == 'Oceania'

In [183]:
df2 = df.loc[oceania1]

In [248]:
df2.continente.unique()

array(['Oceania'], dtype=object)

In [249]:
df2.head()

     pais continente   ano  exp_vida  populacao          pib
975  Fiji    Oceania  1962    56.494     421869  2039.393277
976  Fiji    Oceania  1967    58.607     485000  2170.073285
977  Fiji    Oceania  1972    60.642     544000  2797.759484
978  Fiji    Oceania  1977    62.669     599339  3182.569600
979  Fiji    Oceania  1982    64.683     658906  3209.257468

In [250]:
df2.groupby('continente')['pais'].nunique()

continente
Oceania    3
Name: pais, dtype: int64

In [254]:
# expectativa de vida média por cada ano
df2.groupby('ano')['exp_vida'].mean()

ano
1950    69.290000
1951    69.160000
1952    69.390000
1953    70.240000
1954    70.350000
1955    70.480000
1956    70.740000
1957    70.260000
1958    70.890000
1959    70.800000
1960    71.260000
1961    70.980000
1962    63.867000
1963    71.310000
1964    71.350000
1965    71.280000
1966    71.140000
1967    61.030333
1968    71.180000
1969    71.550000
1970    71.330000
1971    71.780000
1972    62.679333
1973    71.750000
1974    72.000000
1975    72.270000
1976    72.470000
1977    64.298000
1978    73.110000
1979    73.150000
1980    72.950000
1981    73.740000
1982    65.753000
1983    73.940000
1984    74.490000
1985    73.990000
1986    74.240000
1987    65.577000
1988    74.600000
1989    75.010000
1990    75.560000
1991    76.200000
1992    67.058333
1993    76.620000
1994    77.070000
1995    76.940000
1996    76.980000
1997    68.364667
1998    78.370000
1999    78.140000
2000    78.900000
2001    78.910000
2002    69.738667
2003    79.410000
2007    70.849333
Name: exp_vida, dtype: float64

In [255]:
# média do pib
df2.pib.mean()

13078.96130436621

In [256]:
# soma do pib
df2.pib.sum()

967843.1365230998